.button {
  background-color: var(--color-blue-secondary);
  color: var(--color-white-primary);
  font-family: inherit;
  font-size: 1.3rem;
  padding: 1.2rem 4.5rem;
  border-radius: 1rem;
  font-weight: 600;
}
